<!DOCTYPE html>
<html lang="en">

<head>
  <script type="text/javascript" src="https://unpkg.com/@dcloudio/uni-webview-js@0.0.3/index.js"></script>
<!--  <script src="https://appx/web-view.min.js"></script>-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

</body>
<!--<script src="https://appx/web-view.min.js"></script>-->
</html>
